<template>
  <div class="Detail">
    <div
      class="w-50 p-3 mb-1 challenge rounded"
      v-bind:id="challenge._id"
      v-bind:key="challenge._id"
    >
      <router-link v-bind:to="'/challenges'">Liste des challenges</router-link>
      <h3>{{ challenge.name }}</h3>
      <p>{{ challenge.description }}</p>
      <a v-bind:href="challenge.link">Link</a>
      <h6>Password:</h6>
      <input v-model="password" />
      <br />
      <b-button
        variant="outline-primary"
        v-on:click="passwordGuess"
        class="password"
      >
        Verifier le mot de passe
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password: "",
    };
  },
  computed: {
    challenge() {
      return this.$store.getters.getChallenges.find(
        (p) => p._id === this.$route.params.id
      );
    },
  },
  methods: {
    passwordGuess: async function () {
      let payload = {
        password: this.password,
        challengeid: this.challenge._id,
      };
      var guess = await this.$store
        .dispatch({
          type: "passwordGuess",
          pass: payload,
        })
        .then((data) => {
          return data;
        });

      if (guess) {
        this.$store.dispatch("updateChallengesDone", this.challenge._id);
        if (this.challenge.name == "Exercice 6") {
          this.$store.dispatch("rollback");
        }
      }
    },
  },
};
</script>

<style>
</style>