<template>
  <div class="Liste">
    <h2 class="title">Liste des challenges</h2>

    <div
      class="w-50 p-3 mb-1 challenge rounded"
      v-bind:id="challenge._id"
      v-for="challenge in challenges"
      v-bind:key="challenge._id"
    >
      <h3>{{ challenge.name }}</h3>
      <p>{{ challenge.description }}</p>
      <router-link v-bind:to="'/challenges/' + challenge._id"
        >Details</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password: "",
    };
  },
  created() {
    this.$store.dispatch("loadChallenges");
    this.$store.dispatch("loadChallengesDone");
  },
  computed: {
    challenges() {
      return this.$store.getters.getChallenges;
    },
    challenges_done() {
      return this.$store.getters.getChallengesDone;
    },
  },
  mounted() {
    this.$store.getters.getChallenges.forEach((challenge) => {
      this.$store.getters.getChallengesDone.challenges_done.forEach((done) => {
        let match = done._id == challenge._id;
        if (match) {
          document.getElementById(challenge._id).style.background =
            "lightgreen";
        }
      });
    });
  },
};
</script>

<style>
.title {
  color: black;
}
.Liste {
  margin: 3% 20%;
  padding-bottom: 70px;
}
.challenge {
  background-color: lightblue;
  color: black;
  margin-left: 25%;
  margin-top: 3%;
  border: 4px;
  border-style: solid;
  border-color: black;
}
</style>