<template>
  <div class="home">
    <signIn />
  </div>
</template>

<script>
import SignIn from "../components/SignIn.vue";
export default {
  name: "Signin",
  components: {
    signIn: SignIn,
  },
};
</script>
<style lang="scss" scoped>
</style>