<template>
  <div class="hello">
    <h1>Exercices Taskforce Aix 1</h1>
  </div>
</template>

<script>
export default {
  name: "Landing",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
