<template>
  <div class="signInPage">
    <div class="signInFields">
      <h2>Username:</h2>
      <input v-model="username" />

      <h2>Password:</h2>
      <input v-model="password" />

      <br />
      <b-button variant="primary" v-on:click="register" class="signInButton">
        Connexion
      </b-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "SignIn",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    register: function () {
      let login = {
        username: this.username,
        password: this.password,
      };
      try {
        this.$store.dispatch({ type: "connect", login: login });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.signInPage {
  height: 100vh;
  text-align: center;
  padding: 10%;
}
.signInFields {
  background-color: wheat;
  width: 50%;
  margin-left: 20%;
  padding: 5%;
}
.signInButton {
  margin-top: 50px;
}
</style>
