<template>
  <div id="app">
    <b-button variant="primary" v-on:click="deco" class="decoButton">
      Déconnexion
    </b-button>
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    deco: function () {
      try {
        this.$store.commit("setToken", "");
        this.$store.commit("setUserId", "");
        this.$router.push("/");
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url("./assets/city.jpg");
  background-size: cover;
  min-height: 50em;
}
.decoButton {
  float: left;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
